body{
    font-family: serif;
}
h1{
    font-size: 65px;
    
}
.name-color{
    color: darkorange;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%;
}